<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         failOnWarning="true"
         colors="true"
         testdox="true"
         verbose="true">
    <php>
        <includePath>/app/src</includePath>
    </php>
</phpunit>
